<div class="flex-1 flex flex-col font-sans text-gray-900 bg-gray-50 overflow-hidden min-h-0">
  <button
    (click)="toggleSidebar()"
    class="fixed bottom-0 right-0 z-50 lg:hidden bg-black text-white p-6 shadow-lg hover:bg-gray-800 transition-all active:scale-95"
  >
    <fa-icon [icon]="icons.filter"></fa-icon>
  </button>

  <div class="flex-1 flex min-h-0 overflow-hidden">
    <app-filter-sidebar
      [filterForm]="filterForm"
      [categories]="categories()"
      [isOpen]="showFilterSidebar()"
      [showShopFilter]="false"
      [currentPage]="currentPage()"
      [totalPages]="totalPages()"
      (close)="toggleSidebar()"
      (reset)="resetFilters()"
      (pageChange)="onPageChange($event)"
      class="h-full flex-shrink-0"
      sidebarLink="/"
      sidebarLabel="Produits"
      sidebarNavText="Retour"
    >
    </app-filter-sidebar>

    <main class="flex-grow overflow-y-auto shop-products-container">
      <div class="min-h-full flex flex-col">
        <div class="flex-grow px-4 lg:px-8">
          @if (loading()) {
            <div class="flex-grow flex items-center justify-center py-20">
              <div
                class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-black"
              ></div>
            </div>
          } @else {
            <div class="mb-4"></div>
            <app-shop-header
              [shop]="shop()"
              [currentUser]="currentUser()"
              [userRating]="userRating()"
              (ratingChange)="submitRating($event)"
            ></app-shop-header>

            <div class="flex-1 flex flex-col">
              @if (loadingProducts()) {
                <div class="flex-1 flex justify-center items-center py-20">
                  <div
                    class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-black"
                  ></div>
                </div>
              } @else {
                @if (products().length > 0) {
                  <div
                    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 pb-20"
                  >
                    @for (product of products(); track product._id) {
                      <app-product-card [product]="product"></app-product-card>
                    }
                  </div>
                } @else {
                  <app-empty-state
                    title="Aucun produit trouvé"
                    message="Essayez de modifier vos filtres de recherche"
                    buttonText="Réinitialiser les filtres"
                    [icon]="icons.shop"
                    (action)="resetFilters()"
                  >
                  </app-empty-state>
                }
              }
              <app-pagination
                [currentPage]="currentPage()"
                [totalPages]="totalPages()"
                (pageChange)="onPageChange($event)"
              ></app-pagination>
            </div>
          }
        </div>
        <app-footer></app-footer>
      </div>
    </main>
  </div>
</div>
