:host {
    display: block;
    height: 100%;
}

.shop-products-container {
    scrollbar-width: thin;
    scrollbar-color: #e5e7eb transparent;
}

.shop-products-container::-webkit-scrollbar {
    width: 6px;
}

.shop-products-container::-webkit-scrollbar-track {
    background: transparent;
}

.shop-products-container::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 20px;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}