<footer class="bg-white border-t border-gray-200 py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="text-sm text-gray-500">
                © {{ currentYear }} E-Commerce.
            </p>
            <p class="text-xs text-gray-400 mt-2">
                Développé par <span class="font-medium text-gray-600">Mahery Eliot BEMANANTSOA</span> et
                <span class="font-medium text-gray-600">Joanna Misaela TAHIANAHARISON</span>
            </p>
        </div>
    </div>
</footer>