.chat-container {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
    }
    &:hover::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  textarea {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .messages-container {
    background-image: radial-gradient(circle at 2px 2px, rgba(0, 0, 0, 0.02) 1px, transparent 0);
    background-size: 24px 24px;
  }
}
