<div class="h-full bg-gray-50 flex overflow-hidden">

    <button (click)="toggleSidebar()"
        class="fixed bottom-4 right-4 z-50 lg:hidden bg-black text-white p-4 rounded-full shadow-lg">
        <fa-icon [icon]="icons.filter"></fa-icon>
    </button>

    <app-filter-sidebar [filterForm]="filterForm" [categories]="categories()" [shops]="shops()"
        [isOpen]="showFilterSidebar()" [currentPage]="currentPage()" [totalPages]="totalPages()"
        (close)="toggleSidebar()" (reset)="resetFilters()" (pageChange)="onPageChange($event)">
    </app-filter-sidebar>

    <main class="flex-1 p-4 lg:p-8 overflow-y-auto flex flex-col">

        <div class="flex justify-between items-end mb-6 border-b border-gray-200 pb-4">
            <div>
                <h1 class="text-2xl font-bold uppercase tracking-wider">Nos Produits</h1>
                <p class="text-gray-500 text-sm mt-1">{{ products().length }} produits trouvés</p>
            </div>
        </div>

        <div class="flex-1 flex flex-col">
            @if (loading()) {
            <div class="flex-1 flex justify-center items-center">
                <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-black"></div>
            </div>
            } @else {
            @if (products().length > 0) {
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                @for (product of products(); track product._id) {
                <app-product-card [product]="product"></app-product-card>
                }
            </div>
            } @else {
            <div class="flex-1 flex flex-col items-center justify-center text-center py-20">
                <p class="text-xl font-light text-gray-900 mb-2">Aucun produit trouvé</p>
                <p class="text-gray-400 text-xs mb-8  tracking-widest">Essayez de modifier vos filtres de
                    recherche</p>
                <button (click)="resetFilters()"
                    class="px-6 py-2 border-b-2 border-black text-black hover:bg-black hover:text-white transition-all text-[10px] uppercase font-bold tracking-[0.2em]">
                    Réinitialiser les filtres
                </button>
            </div>
            }
            }
        </div>

        <div class="mt-auto  flex justify-center items-center gap-x-8 border-t border-gray-100">
            <button (click)="onPageChange(currentPage() - 1)" [disabled]="currentPage() === 1"
                class="text-[10px] uppercase tracking-widest flex items-center gap-2 hover:text-black transition-colors disabled:opacity-30 disabled:hover:text-gray-400">
                <fa-icon [icon]="icons.prev"></fa-icon> Précédent
            </button>
            <span class="text-[10px] uppercase tracking-[0.2em] font-medium text-gray-400">
                <span class="text-black font-bold">{{ currentPage() }}</span> / {{ totalPages() }}
            </span>
            <button (click)="onPageChange(currentPage() + 1)" [disabled]="currentPage() === totalPages()"
                class="text-[10px] uppercase tracking-widest flex items-center gap-2 hover:text-black transition-colors disabled:opacity-30 disabled:hover:text-gray-400">
                Suivant <fa-icon [icon]="icons.next"></fa-icon>
            </button>
        </div>
    </main>
</div>